@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="thumbnail">
        <a href="~/images/pic2.jpg" target="_blank">
            <img src="~/images/pic2.jpg" alt="Nature" style="width:100%">
    </div>


    <div class="row">
        <div class="col-md-4" style="background-color: mediumpurple;">
            <h2>GoodsDonation</h2>
            <p>
                These are the ways in which we wish to contribute goods in our community , anyone is welcome to
                donate goods that they might not have a use for and would like to share a bit of kindness
                we accept all kinds of Goods from Clothing , non-perishable foods ..
            </p>

        </div>
        <div class="col-md-4">
            <h2>Money Donation</h2>
            <p>
                Money Donations go a long way in assisting . it gives the foundation the power to go out and do more
                it allows us to really look into what we lack and get it for the people suffering these criseses
                we accept all amounts no amount is too small
            </p>

        </div>
        <div class="col-md-4" style="background-color: mediumpurple;">
            <h2>Disasters</h2>
            <p>
                Our donations don't just reach out to the disasters that we are aware of , these can be even for the
                disasters that a donor might know of and want to record the disaster on our system so that they can
                record these events for others to record'
            </p>

        </div>
    </div>






    <footer class="container-fluid p-3 text-center shadow-lg">
        <h3>Disaster Foundation</h3>
        <p>info@Disaster.co.za</p>
        <div class="container">
            <a href="facebook.com"><img src="images/face_3.png" class="mx-2" width="50px" alt=""></a>
            <a href="twitter.com"><img src="images/twitter_1.png" class="mx-2" style="transform: scale(0.8, 0.8);" width="50px" alt=""></a>
            <a href="linkedin.co.za"><img src="images/in_1.png" class="mx-2" style="transform: scale(0.8, 0.8);" width="50px" alt=""></a>
        </div>
        <br>

    </footer>

</body>

</html>
