@{
    ViewBag.Title = "Contact";
}
<h2>Get in Touch!</h2>
<h3>Find us here</h3>

<address>
    8 Radio Road<br />
    Redmond, Sandton 2090<br />
    <abbr title="Phone">P:</abbr>
    012 576 7891
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="col-12">
    <button class="btn btn-primary" type="submit">Submit </button>
</div>